build-essential
pkg-config
libtool
libtool-bin
libncurses-dev
libusb-1.0-0-dev
libusb-dev
libpcre2-8-0
libpcre2-dev
libgl1-mesa-dev
libhidapi-dev
libgtk2.0-dev
libudev-dev
libjaylink-dev
libssl-dev
zlib1g-dev
libbz2-dev
libreadline-dev
libsqlite3-dev
libncursesw5-dev
libxml2-dev
libxmlsec1-dev
libffi-dev
liblzma-dev
libgts-dev
xz-utils
tk-dev
bison
flex
gawk
m4
texinfo
automake
zlib1g-dev
intltool
ninja-build
meson
clang
cmake
git
curl
pandoc
lzip
zsh
ghostwriter
moserial
