CompileFlags:
  Add: [
    -x,
    c,
    -Wall,
    -Wcast-align,
    -Wconversion,
    -Wdouble-promotion,
    -Wextra,
    -Wshadow,
    -Wsign-conversion,
    -Wundef,
    -I.,
    -I./OS,
    -I./OS/Boots,
    -I./OS/Includes,
    -I./OS/Lib_serials,
    -I./OS/Lib_generics,
    -I./OS/Lib_kernels,
    -I./OS/Lib_peripherals,
    -I./OS/Lib_neurals,
    -I./OS/Lib_storages,
    -I./OS/Lib_cryptographics,
    -I./OS/Processes,
    -I./OS/Daemons,
    -I./OS/CLI
  ]

Index:
  Background: Build
  StandardLibrary: Yes

Completion:
  AllScopes: Yes

Hover:
  ShowAKA: Yes
