*.o
*.d
*.s2
*.s3
*.so
*.ck
*.us
*.hex
*.bin
*.elf
*.cnf
*.lst
*.dis
*.log
*.stack
*_ready.txt
*_temp.txt
*.uf2
.cproject
.project
.DS_Store
.svn*
.metadata
.settings
.git
.config*
*.jdebug.user
frozentest.*
/setup.sh
/tags
/Doxygen_Doc/latex
/Applications/uKOS_Tests
/Applications/SQ_Appls
build*/
/compile_flags.txt
Static_Analysis/
