# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2025-2026 Edo. Franzi
#
# Goal:		script for burning the arm flash via the openocd.
#			STLink
#			SWD hla transport
#
#			- Usage:
#			  sh stlink.sh

source [find interface/stlink.cfg]

transport select hla_swd

source [find target/stm32f2x.cfg]
reset_config srst_only

program ./FLASH.elf verify reset exit
