# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2025-2026 Edo. Franzi
#
# Project:	uKOS-X
# Goal:		script for burning the arm flash via the openocd.
#			STLink
#			SWD hla transport
#
#			- Usage:
#			  sh stlink.sh

source [find interface/stlink-dap.cfg]

transport select dapdirect_swd
set DUAL_CORE 1
set USE_CTI 1

source [find target/stm32h7x_dual_bank.cfg]
reset_config srst_only

program ./FLASH.elf verify reset exit
