Index:
  Background: Build
  StandardLibrary: Yes

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - cert-*
      - misc-*
      - performance-*
      - portability-*
    Remove:
      - hicpp-*
      - cppcoreguidelines-avoid-magic-numbers
      - cppcoreguidelines-pro-type-reinterpret-cast
      - cppcoreguidelines-pro-bounds-pointer-arithmetic
      - cppcoreguidelines-avoid-non-const-global-variables
      - cppcoreguidelines-macro-usage
      - readability-magic-numbers
      - readability-function-cognitive-complexity
      - google-*
      - fuchsia-*
      - altera-*
      - llvm-*

Completion:
  AllScopes: Yes

Hover:
  ShowAKA: Yes
